/* imports differnt fonts */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&subset=latin-ext");

/* To remove spinner for number inputs
/* Chrome, Safari, Edge, Opera */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */


body {
  width: 80%;
  float: Center;
  margin: 5% 0 0 30%;
  /* background-color: #e6e5e5; */
}
.content {
  width: 40%;
  float: left;
}
.floaty {
  width: 55%;
  float: right;
}

h1 {
  margin: 0 0 0 140px;
  padding: 2% 0%;
  color: #767474;
}

h2 {
  color: #767474;
}

.slider1_parent {
  padding-bottom: 6px;
  padding-left: 40px;
  font-family: "Source Sans Pro", sans-serif;
}
.slider1_parent .title {
  display: inline-block;
  line-height: 28px;
  margin: 0 -4px 0 9px;
}
/* input box for sliders */
.slider1_parent .slider1 {
  border: solid 1px #c2c2c2;
  width: 60px;
  padding: 0 3px 0 3px;
  height: 18px;
  vertical-align: top;
  margin: 4px 4px 4px 10px;
}
.slider1_parent .main_block .groove_parent {
  width: calc(100% - 20px);
  margin: auto;
  position: relative;
  height: 20px;
}
.slider1_parent .main_block .groove_parent .groove {
  position: relative;
  height: 4px;
  background-color: #f5f5f5;
  top: 8px;
  border-radius: 5px;
  border: solid 1px #bcbcbc;
  overflow: hidden;
  cursor: pointer;
}
.slider1_parent .main_block .groove_parent .groove:hover {
  filter: invert(3%);
}
/* Groove fill properties */
.slider1_parent .main_block .groove_parent .groove .fill {
  height: 4px;
  width: 0;
  background-color: #7ef4ff;
}
/* slider adjuster properties */
.slider1_parent .main_block .groove_parent .rider {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #ddd;
  top: 0;
  border-radius: 13px;
  margin: 2px;
  border: solid 0.5px #a2a2a2;
  cursor: pointer;
  left: calc(0% - 11px);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
/* slider adjuster color when hovering over */
.slider1_parent .main_block .groove_parent .rider:hover {
  background-color: #d2d2d2;
}
/* slider adjuster color when moving */
.slider1_parent .main_block .groove_parent .rider:active {
  background-color: #c1c1c1;
}
.slider1_parent .main_block .slider_range {
  width: calc(100% - 19px);
  border-left: solid 0px #c5c5c5;
  border-right: solid 0px #c5c5c5;
  height: 13px;
  display: block;
  font-size: 0px;
  margin: 4px auto auto;
  color: #848484;
}
.slider1_parent .main_block .slider_range tr {
  width: 100%;
  display: inline-flex;
}
.slider1_parent .main_block .slider_range tr .left {
  width: 50%;
  padding: 1px 5px;
  margin-top: -9px;
}
.slider1_parent .main_block .slider_range tr .right {
  width: 50%;
  text-align: right;
  padding: 1px 5px;
  margin-top: -9px;
}
.Row {
  display: table;
  width: 95%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 0px; /*Optional*/
  margin-top: 0%;
  margin-left: 50px;
}
.Row_ticks {
  display: table;
  width: 98%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 0px; /*Optional*/
  margin-top: -5%;
  margin-left: 52px;
  color: #c5c5c5;
}
.Row2 {
  display: table;
  width: 98%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 0px; /*Optional*/
  margin-top: 0%;
  margin-left: 50px;
}
.Row_ticks2 {
  display: table;
  width: 98%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 0px; /*Optional*/
  margin-top: -5%;
  margin-left: 52px;
  color: #c5c5c5;
}
.marker {
  display: table-cell;
  font-size: 14px;
  color: #8a8c88;
  /*Optional*/
}

#slider1,
#slider2,
#slider3,
#slider4,
#slider5,
#slider6,
#slider7 {
  width: 10%;
  float: right;
  text-align: center;
}





/*# sourceMappingURL=slider.css.map */
