*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  float: left;
  margin: 100px 0 50px 50px;
  padding: 30px;
  background-color: #dbe1e2;
  

}

#subheader,
#myTable {
    width: 80%;
    float: center;
    border-collapse: separate;
    border-spacing: 20px, 0px;
    text-align: center;
}

#header {
    float: center;
}